<div class="container">

	<br/>
	<br/>
	<br/>
    <br/>
	<br/>
	<br/>
    <br/>
    <%= stylesheet_link_tag 'main.css' %>
    <div class = "wrapper">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="jumbotron">
        
	  		<h1>Welcome to EMAP 2.0!</h1>
	  		<p>The Event Management Analytic Platform (EMAP) is a processing and anayltics platform based off of the Performance Architectural Science Systems (PASS) organizational discipline. Its primary role is to streamline event processing and tracking at the Department of Veteran Affairs, allowing managers to plan balanced workloads and track productivity.</p>
	  		<p><a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign in</a></p>
		</div>
	</div>
    </div>
</div>